@charset "UTF-8"
/* Regra @charset caso haja problemas com acentuação */

body {
    background-color: black;
    margin: auto
}
main{
    background-color: black;
    width: 600px;
    margin: auto;
}
h1{
    text-align: center;
    color: white;
}
p{
    text-align: center;
}
iframe{
    text-align: center;
    display: block;
    margin: auto;
}
